<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/components/bootstrap/bootstrap/css/bootstrap.css' />
    <script src="/components/jquery/jquery.js"></script>  
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1><%= title %></h1>
        <p>To start Athenticate with your Google Apps Account</p>
        <a href="<%= href %>" class="btn btn-large btn-primary btn-block">Login</a>
      </div>
    </div>
  </body>
</html>