<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/components/bootstrap/bootstrap/css/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please add your gmail account information</p>
    <form action="">
      <label for="auth_user">Gmail account</label>
      <input type="text" name="auth_user" id="auth_user" placeholder="ex. david.roncancio@gmail.com">
    </form>
  </body>
</html>